@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  font-size: 25px;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #171717;
  /* background-image: linear-gradient(180deg, #171a24, #696977); */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-player {
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #000000d9, #272727d9);
  backdrop-filter: blur(200px);
  filter: blur();
  border-radius: 9px;
}

.card {
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  background-color: #171a24ab;
  backdrop-filter: blur(200px);
  filter: blur();
  border-radius: 9px;
  position: relative;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #070a09,
    #7c7ba1,
    #9f9bbc,
    #4e4562,
    #615e83,
    #070a09,
    #7c7ba1,
    #9f9bbc,
    #4e4562,
    #615e83
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 30s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.card:after {
  filter: blur(100px);
}

.inner {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

/* audio info */
.audio-info {
  display: flex;
  gap: 20px;
}

.text {
  color: #f50;
}

.title {
  color: #fff;
  font-weight: 100;
  font-size: 42px;
  margin-bottom: 0;
  padding: 2px;
  line-height: 37px;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
}

/* audio image */
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.audio-image {
  width: 400px;
  height: 400px;
  background: #1e1e1e;
}

.audio-icon {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #989898;
}

.audio-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* controls */
.controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.controls button,
.volume button {
  border: none;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

button svg {
  font-size: 30px;
}

.volume {
  display: flex;
  align-items: center;
}

.volume button {
  margin: 0;
}

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* time */
.time {
  color: #ffffff;
  font-size: 30px;
  line-height: 46px;
}

.time.current {
  color: #ce413d;
}

@media (max-width: 34em) {
  html,
  body {
    font-size: 15px;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: #333;
    background-color: #171717;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .audio-player {
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, #000000d9, #272727d9);
    backdrop-filter: blur(200px);
    filter: blur();
    border-radius: 9px;
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inner {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    color: #fff;
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 0;
    padding: 2px;
    line-height: 37px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
  }

  /* audio image */
  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .audio-image {
    width: 200px;
    height: 200px;
    background: #1e1e1e;
  }

  .audio-icon {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #989898;
  }

  .audio-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  /* controls */
  .controls-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .controls button,
  .volume button {
    border: none;
    background-color: transparent;
    margin-right: 8px;
    cursor: pointer;
  }

  button svg {
    font-size: 30px;
  }

  .volume {
    display: flex;
    align-items: center;
  }

  .volume button {
    margin: 0;
  }

  .progress {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  /* time */
  .time {
    color: #ffffff;
    font-size: 30px;
    line-height: 46px;
  }

  .controls-wrapper > * {
    margin-top: 10px;
  }
}
